:root {
    --main-color: #066599;
}

/* done  */
.side-bar-container {
    min-height: 100vh;
    position: relative;
    background: var(--main-color);
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

/* done  */

.lists {
    position: absolute;
    list-style: none;
    padding-left: 8px;
    top: 10%;
    width: 100%;
}

/* done  */

.lists .list,
.lists .main-list {
    position: relative;
    padding: 9px 0px;
    display: flex;
    border-radius: 30px 0px 0px 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

/* done  */

.lists i {
    position: relative;
    font-size: 14px;
    line-height: 25px;
    margin: 0 15px;
    pointer-events: none;
}

/* done  */

.lists p {
    position: relative;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
    pointer-events: none;
    text-wrap: nowrap;
    margin-left: 5px;
}















.lists li span p {
    margin-left: 0px;
}
.lists li.list i {
    font-size: 16px !important;
}

/* done  */
.lists .list.active,
.lists .main-list.active ,
.lists .main-list:has(+ ul .list.active ) {
    font-weight: 600;
    background-color: white;
    color: black;
}

/* done  */

.lists .list.active p,
.lists .main-list.active p ,
.lists .main-list:has(+ ul .list.active ) p {
    color: black;
}


/* done  */
.lists .list.active b:nth-child(1),
.lists .main-list.active b:nth-child(1)  ,
.lists .main-list:has(+ ul .list.active ) b:nth-child(1){
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: -20%;
    height: 10px;

}
/* done  */

.lists .list.active b:nth-child(2),
.lists .main-list.active b:nth-child(2) ,
.lists .main-list:has(+ ul .list.active ) b:nth-child(2) {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    bottom: -20%;
    height: 10px;
    transition: 0;

}

/* done  */
.lists .main-list.active .down-arrow ,
.lists .main-list:has(+ ul .list.active ) .down-arrow {
    color: white;
}

/* done  */
.lists .list.active b:nth-child(1)::before,
.lists .main-list.active b:nth-child(1)::before ,
.lists .main-list:has(+ ul .list.active ) b:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -20%;
    height: 12px;
    border-bottom-right-radius: 25px;
    background-color: var(--main-color);

}

/* done  */

.lists .list.active b:nth-child(2)::before,
.lists .main-list.active b:nth-child(2)::before ,
.lists .main-list:has(+ ul .list.active ) b:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -20%;
    height: 12px;
    border-top-right-radius: 25px;
    background-color: var(--main-color);

}

/* done  */
.sub-list {
    position: relative;
    margin-left: 8px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    transform-origin: top;
    height: 0;
}

/* done  */
.lists .main-list.active + ul ,
.lists .main-list:has(+ ul .list.active ) + ul {
    height: 100%; 
    margin-top: 12px;
}
/* done  */
.lists .main-list.active:first-child ,
.lists .main-list:first-child:has(+ ul .list.active ) {
    margin-top: 18px;
}

.lists li span>i {
    font-size: 16px;
}
.lists li span>p {
    margin-left: 5px;
}


