
/* Delete Modal*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:  100   ;
    text-align: center;
}
.modal i {
    line-height: 1px;
    
}
.modal>div {
    padding: 20px ;
    background-color: white;
    border-radius: 10px;
}
.modal p {
    font-size: 14px;
    margin: 0;
}
.modal button {
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 500;
    border: 1.3px solid red;
    border-radius: 2px;
    color: red;
    cursor: pointer;
}
.modal button:first-child {
    background-color: red;
    color: white;
    margin-right: 10px;
}
.modal div:last-child {
    margin-top: 15px;
}
.modal .modal-content {
    color: gray;
    line-height: 18px;
    font-weight: 500;
    word-spacing: 2px;
}

/* Student Information */

.modal .student-container h3 {
    font-size: 22px;
    font-weight: 600;
    color: #066599;
}
.modal .student-container span {
    font-weight: 400 ;
    font-size: 18px;
    color: gray;
}
.modal .student-container .student-info-btn {
    margin: 10px;
    transition: .3s;
}


.modal .student-container .student-info-btn:hover {
    background-color: red;
    color: white;
}