.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px 1px gray;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
}