.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 10px ;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 -2px 10px 1px gray;
    background-color: white;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
}