.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 5px 10px ;
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 0 -5px 10px 1px gray;
    background-color: white;
    
    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        padding: 4px 15px;
        font-weight: 600;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: .4s;
    }

    button:hover {
        background-color: #ff00002c;
        color: red;

    }
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
}