* {
  margin: 0 ; 
  padding: 0;  
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

@property --_w {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}

