
@font-face {
  font-family: 'Readex Pro';
  src: url('../src/font/static/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype'),

} 
* {
  margin: 0 ; 
  padding: 0;  
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

@property --_w {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}

